.NSWUPnopadding{
  padding:0 !important;
}

.NSWUP_marquee {
  overflow: hidden;
  float: left;
  top: 0;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 100%;
  position: absolute;
  white-space: nowrap;
  border:none;
}

.NSWUP_one_marquee {

  overflow: hidden;
  float: left;
  top: 0;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 100%;
  position: absolute;
  white-space: nowrap;
  border:none;

}

.NSWUP-title {
  display: inline-block;
  padding: 10px 10px;
  float: left;
  left: 0px;
  top: 0px;
  height: 40px;
  font:16px/26px Georgia, Garamond, Serif;
  border-radius:10px;
  border:none;
}

.NSWUP-sitewidth ul li {
  float: left;
  list-style: none;
  padding-right: 10px;
  font-weight: 500;
  font-size: 16px;
  height: 10px;

}

.NSWUP_ul{
  width: max-content;
  margin: 4px 10px;
}

.NSWUP_marquee li:last-child{
  padding-right: 10px;
}

@media screen and (max-width: 800px) {

  .NSWUPnopadding{
    padding:0 !important;
    width:100%!important;
    max-width: 100%!important;
    margin-bottom: 10px!important;
  }

  .NSWUP-sitewidth {
    display:block;  
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 5px 10px;
    left: 0px;
    top: 0px;
    height: 30px;
  }

  .NSWUP_marquee {
    display:block;  
    overflow: hidden;
    top: 0;
    width: -webkit-fill-available;
    height: 100%;
    position: absolute;
    white-space: nowrap;
  }

  .NSWUP-title {
    display: block;
    font-size: 12px;
    padding: 5px 5px;
    left: 40px;
    top: 0px;
    width:auto;
    height: 30px;
  }

  .NSWUP-sitewidth ul li {
    float: left;
    list-style: none;
    padding-right: 25px;
    font-weight: 500;
    font-size: 12px;
    height: 10px;

  }

  .NSWUP_ul{
    width: max-content;
    margin: 2px 10px;
    font-size: 12px;
  }

  .NSWUP_marquee li:last-child {
    padding-right: 0px;
  }


